/* style for Tortoiseshell */

html {
  font-family: Helvetica;
  font-size: 18px;
}
body {
  background-color: azure;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 31rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.site {
  width: 960px;
  margin-left: auto ;
  margin-right: auto ;
}
.headr {
  display: flex;
  background-color: cadetblue;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  height: 3rem;
}
.headr-left {
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
.logo {
  display: flex;
  height: 1.5rem;
  width: auto;
  padding-right: 1em;
}
.headr-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.headr-right span {
  display: none;
}
.look {
  display: flex;
  justify-content: flex-end;
}
.lookbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  left: 2rem;
  background-color: white;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
/*  line-height: 1.2;*/
/*  width: 30rem;*/
  padding-top: 1.5rem;
  padding-left: 5rem;
  padding-bottom: 1.5rem;
  margin-top: 10rem;
  padding-right: 5rem;

}
.menuitems {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;


}
.menuitems ul {
  display: flex;
  align-items: center;
  padding: 0.75em 0;
  list-style: none;
}
li {
  display:inline;
  padding-right: 2rem;
}
.services {
  display: flex;
  flex-direction: row;
  height: 8rem;
  padding-top: 3rem;
  justify-content: center;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 8rem;
}

.service-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-description {
  display: flex;
  color: black;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.2rem;
}
.paper {
  display: flex;
  width: 3.5rem;
  height: auto;
  align-items: center;
}
.ruler {
  display: flex;
  width: 5rem;
  height: auto;
}
.truck {
  display: flex;
  width: 5rem;
  height: auto;

}
.info {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  justify-content: center;
}
.info-box {
  padding-right: 48px;
}
.info-box-title {
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;

}
.info-box-text {
  display: flex;
  width: 336px;
  padding-top: 1rem;
  line-height: 1.5;
  margin-bottom: 0.2rem;

}
.footer {
  display: flex;
/*  position: fixed; */
  background-color: azure;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.footer-left {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  align-items: center;
}
/* Responsive Design Section */

@media only screen and (max-width: 980px) {
  .headr {
    margin-top: 0rem;
  }
  .main {
    height: 22rem;
    background-position: 20%;
  }
  .site {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .lookbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    left: -2rem;
    background-color: white;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.33rem;
  /*  line-height: 1.2;*/
  /*  width: 30rem;*/
    padding-top: 0.75rem;
    padding-left: 4rem;
    padding-bottom: 0.75rem;
    margin-top: 5rem;
    margin-left: 2rem;
    padding-right: 4rem;

  }
  .info-box {
    padding-right: 4rem;
/*    padding-left: 4rem;*/
  }
}
@media only screen and (max-width: 480px) {
  .site {
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 17rem;
    background-image: url(../images/glasses-bg.png);
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
  }
  .main .headr .headr-right .menuitems {
    display: none;;

  }
  .main .headr .headr-right span {
    display: block;
    align-items: center;
    margin-right: 30px;
  }
  .lookbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    left: -2rem;
    background-color: white;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1rem;
  /*  line-height: 1.2;*/
  /*  width: 30rem;*/
    padding-top: 1rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    margin-top: 9rem;
    margin-left: 2rem;
    padding-right: 4rem;

  }
  .content {
    padding-top: 3.77rem;
  }
  .services {
    display: flex;
    flex-direction: column;
    height: 8rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
  }
  .services-description {
    display: flex;
    color: black;
    width: 100%;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 1.54rem;
  }
  .info {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 3.77rem;
    justify-content: center;
  }
  .info-box {
    width: 100%;
    padding-left: 0;

  }
  .info-box-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 0rem 1.25rem;
  }
  .info-box-text {
    display: flex;
    width: auto;
    font-size: 0.77rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    padding-left: 0.25rem;
    margin-right: 1rem;
  }
  .footer-left span {
    display: none;
  }
  .footer {
    display: flex;
    /* position: fixed; */
    background-color: azure;
    bottom: 0;
    width: 100%;
    z-index: 2;
    justify-content: center;
  }

}
